*{
    margin:0;
    padding: 0;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../new1.jpg);
    height: 135vh;
    background-size:cover;
    background-position:center;
    background-color:lightcoral;
}
p{
    text-align: center;
    font-size:30px;
    font-style: italic;
    text-decoration:none;
    color:ivory;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    color:coral;
    /* background-color:white; */
    max-width:1500;
    margin:auto;
    text-align: center;
    margin-top:5px;
}
 hr{
     color:white;
 }
 .cl{
    text-align: center;
    font-size:30px;
    font-style: italic;
    text-decoration:none;
    color:ivory;
    margin-top: 25px;
    margin-left: 20px;
    margin-right:20px;
 }